* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
#i0bil{
  width:578px;
  en:1;
  text-align:center;
  margin:0px 0px 0px 0px;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}
.panel{
  width:90%;
  max-width:700px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
  padding-top:30px;
  padding-right:50px;
  padding-bottom:30px;
  padding-left:50px;
  margin-top:50px;
  margin-right:auto;
  margin-left:auto;
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px;
  border-top-style:dashed;
  border-right-style:dashed;
  border-bottom-style:dashed;
  border-left-style:dashed;
  border-top-color:rgb(204, 204, 204);
  border-right-color:rgb(204, 204, 204);
  border-bottom-color:rgb(204, 204, 204);
  border-left-color:rgb(204, 204, 204);
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
  margin-bottom:40px;
  color:rgb(51, 51, 51);
  font-weight:100;
  text-align:center;
}
.welcome{
  text-align:center;
  font-weight:100;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-size:22px;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
.big-title{
  text-align:center;
  font-size:3rem;
  margin-top:26px;
  margin-right:0px;
  margin-bottom:26px;
  margin-left:0px;
  color:rgb(24, 144, 255);
}
.description{
  text-align:center;
  font-size:1rem;
  line-height:1.8rem;
  margin-bottom:1rem;
}
.wechat-group{
  text-align:center;
  padding-bottom:10px;
}
.wechat-group img{
  max-width:220px;
  height:auto;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  width:100%;
}
.welcome-img{
  padding-top:20px;
  padding-right:0px;
  padding-bottom:20px;
  padding-left:0px;
  text-align:center;
}
.welcome-img img{
  width:100%;
  max-width:280px;
}
.c2131{
  color:#d983a6;
  text-align:center;
  width:0px;
  margin:100px 0px 0px 0px;
}
.row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.c3038{
  text-decoration: none;
  text-align:center;
  background-color:#237bbc;
  border:0px solid white;
  padding:15px 20px 15px 20px;
  border-radius:8px 8px 8px 8px;
  font-weight:900;
  font-family:Georgia, serif;
  font-size:25px;
  color:#ffffff;
}
@media (max-width: 768px){
  .cell{
    width:100%;
    display:block;
  }
}
@media (max-width: 767.98px){
  .big-title{
    font-size:1.9rem;
  }
}
