#btn {
    background-color: #336dab;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

.rows {
    text-align: center;
    justify-content: center;
    align-items: center;
}


.github-btn img{     
    margin-bottom: -3px;     
    margin-right: 10px;     
  }

#username {
    font-size: 16px;
}

button {
    background-color: #336dab;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

input[type="button"] {
    background-color: #336dab;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }
  